:root{
    --p3Blue: #2196F3;
    --p3Grey: #D9D9D9;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 65px);
}


body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/backgrounds/novine.png');
    opacity: 0.5;
    z-index: -1; 
}

#navBar{
    padding:10px; 
}

.SearchBar {
    background-color: white;
    background-image: url('images/icons/search.png'); /* Adjusted path */
    background-position: 10px 1.6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 480px;
}

.SideBar{
    min-height: 100px;
    width: 15%;
    height: 100%;
}
.Content{
    width: 70%;
    background-color: whitesmoke;
    height: 100%;
    min-height: calc(100vh - 65px);
}

.BackdropImage {
    width: 100%;
    height: 350px; /* Fixed height */
    background-image: url('images/backgrounds/knjige.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    overflow: hidden; /* Hide overflow */
    margin-bottom: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1),  /* Top shadow */
                0px -10px 15px rgba(0, 0, 0, 0.1); /* Bottom shadow */
}   

.Content > div > button
{
    margin-right: 5px;
    margin-left: 5px;
    width: 120px;
}

.listingContainer{
    padding: 1em;
}

.listings{
    display: flex;
    flex-direction:column;
    margin-bottom: 3em;
}

.listing{
    display: flex;
    align-items: center;
    background-color: var(--p3Grey);
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.listing > img{
    max-height: 25em;
    max-width: 50%;
    padding: 1em;
    border-radius: 5%;
}

.listingDescription{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blueButton{
    background-color: var(--p3Blue);
    color: white;
}

footer {
    background-color: var(--p3Blue);
    padding: 0.5em;
}

.listingDetail {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: stretch; /* Ensure both children stretch to the same height */
}

.listingDetailTextContainer {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listingDetail > img {
    max-width: 50em;
    max-height: 25em;
    border-radius: 0.5em;
    height: auto; /* Ensure the image height adapts to the content */
}

.listingExtraInformation {
    display: flex;
    justify-content: space-between; /* Distribute items within the row */
    align-items: flex-end; /* Align items to the bottom of the parent div */
    margin-top: auto; /* Push this section to the bottom */
}

.listingExtraInformation div {
    display: flex;
    flex-direction: column; /* Ensure each child div stacks items vertically */
}


.serllerProfileInformation{
    background-color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sellerProfile{
    padding: 2em;
    display: flex;
    justify-content: center;
}

.sellerProfile > img{
    width: 10em;
    height: 10em;
    border-radius: 5em;
    margin: 1em;
}

.sellerProfile > div{
    margin: 1em;
    justify-content: center;
}

#uploadForm {
    position: relative;
    display: inline-block;
}

#fileInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.listingCreatorContainer > form, .updateUserInfo > form{
    padding: 2em;
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listingCreatorContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
    min-height: calc(100vh - 9em + 2px); /* Subtracting the height of the fixed navbar */
}

#uploadForm {
    background-color: white; /* Set the background color to white */
    border-radius: 0.5em;
    padding: 1em; /* Add some padding for better appearance */
    text-align: center; /* Center align the content */
    width: 55em;
}

/* Add margin to form elements */
#uploadForm label,
#uploadForm input,
#uploadForm textarea,
#uploadForm button {
    width: 45em;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

#uploadForm textarea{
    height: 20em;
}


.modal, .editProfileModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.registerModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show-modal, .editProfileModal.show-modal {
    display: block;
    opacity: 1;
}

.registerModal.show-modal {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #ccc;
    max-width: 600px;
    border-radius: 0.5em;
}

.modal-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensure content is centered vertically */
    width: 100%;
    padding-bottom: 2em;
}

/* Style the form */
.modal-content > div > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25em; /* Adjust the width as necessary */
}

.modal-content > div > form > button{
    width: 6em;
}

.close, .editProfileClose{
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.registerClose {
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.listings a {
    text-decoration: none; /* Remove underline from all links within .listings */
    color: inherit; /* Use the default text color */
}

.sellerProfileInformation{
    margin-bottom: 2em;
}

.sellerProfileInformation a {
    text-decoration: none; /* Remove underline from all links within .listings */
    color: inherit; /* Use the default text color */
}

.categoryButton{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.listingContainer > form{
    display: flex;
    flex-direction: column;
}

@media  (max-width: 950px) {
    p, h1, h2, h3, button, form, form > button, .logOutButton {
        font-size: 2em;
    }
    
    form > button {
        font-size: 1em !important;
    }

    .logOutButton {
        font-size: 1em !important;
    }

    .logOutForm {
        font-size: 1em;
        display: inline-block;
    }


    body {
        min-height: calc(100vh - 50px);
        margin-top: 160px;
    }

    .SearchBar {
        width: 100%;
        background-position: 10px center;
        padding-left: 35px;
    }

    .SideBar {
        width: 100%;
        min-height: auto;
        height: auto;
    }

    .Content {
        width: 100%;
        min-height: calc(100vh - 50px);
    }

    .BackdropImage {
        height: 200px;
    }

    .Content > div > button {
        width: 100px;
        margin: 2px;
    }

    .listing {
        flex-direction: column;
        align-items: flex-start;
    }

    .listing > img {
        max-width: 100%;
        max-height: 20em;
        padding: 0.5em;
    }

    .listingDescription {
        width: 100%;
    }

    .listingDetail {
        flex-direction: column;
    }

    .listingDetailTextContainer {
        margin-left: 0;
        margin-top: 1em;
    }

    .listingDetail > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* or contain, depending on your layout needs */
    }

    .listingExtraInformation {
        flex-direction: column;
        align-items: flex-start;
    }

    .sellerProfile {
        flex-direction: column;
        align-items: center;
    }

    .sellerProfile > div {
        text-align: center;
    }

    .sellerProfile > img {
        margin: 0;
    }

    #uploadForm {
        width: 90%;
    }

    #uploadForm label,
    #uploadForm input,
    #uploadForm textarea,
    #uploadForm button {
        width: 100%;
    }

    .modal-content > div > form {
        width: 100%;
    }

    #navBar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #navBar > div{
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .indexButtonContainer{
        flex-direction: column;
        justify-content: center;
    }
    .upperButtons, .lowerButtons{
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }

    .upperButtons > a > button, .lowerButtons > a > button{
        width: 20vw;
        font-size: 3vw;
    }

    .listingCreatorContainer{
        margin-top: 160px;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #nemaOglasaContainer{
        height: 15em;
    }
}